@model Scheduler.ViewModels.LoginViewModel

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div id="container-login" style="display: flex;flex-direction: column;align-items: center;">
    <div class="row">
        <div class="col-md-12">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            @Html.TextBoxFor(m => m.EmailOrUserName, new
                    {
                        @class = "form-control",
                        @placeholder = "Email or Username"
                    })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe) Remember me?
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</div>
}